:root {
  --github-background: #010409;
  --github-blue: #1f6feb;
  --github-border: #30363d;
  --github-green: #3be477;
  --github-main: #0d1117;
}

/*
>> Main Page | Bottom Bar | Right Side Bar | Left Side Bar
- Add themed background
- Add themed borders
*/
.Root__main-view,
.main-nowPlayingBar-nowPlayingBar,
.ffFwfKcPDbmAPLXzxzKq,
.main-yourLibraryX-entryPoints {
  background-color: var(--github-main) !important;
  border-radius: var(--encore-border-width-thicker) !important;
  border: 1px solid var(--github-border) !important;
}

/* 
>> Search Bar | Top Bar Icons
- Add themed background
- Add themed borders
*/
.SFAoASy0S_LZJmYZ3Fh9,
.main-globalNav-link-icon {
  background-color: var(--github-background) !important;
  border-radius: var(--encore-border-width-thicker) !important;
  border: 1px solid var(--github-border) !important;
}

/* 
>> Search Bar
- Stop inside shadow on Hover
*/
.SFAoASy0S_LZJmYZ3Fh9:hover {
  -webkit-box-shadow: inset 0 0 0 0 !important;
  box-shadow: inset 0 0 0 0 !important;
}

/* 
>> Search Box
- Highlight the search box with blue border
*/
.main-globalNav-searchInputContainer .SFAoASy0S_LZJmYZ3Fh9:focus,
.x-filterBox-expandedOrHasFilter .x-filterBox-filterInput,
.search-modal-searchBar {
  -webkit-box-shadow: inset 0 0 0 1px var(--github-blue) !important;
  border-radius: var(--encore-border-width-thicker) !important;
  border: 1px solid var(--github-blue) !important;
  box-shadow: inset 0 0 0 1px var(--github-blue) !important;
}

/* 
>> Top Bar Icons > Home | Marketplace
- Highlight Icons
- Stop scaling on hover (because marketplace icon's border clips)
*/
.main-globalNav-link-icon:hover {
  transform: scale(1);
  background: var(--github-main);
}

/* 
>> Marketplace List Items
- Add themed border
*/
.marketplace-card--installed {
  border: 1px solid var(--github-border) !important;
}

/* 
>> Expand Now Playing Bar 
*/
.main-nowPlayingBar-nowPlayingBar {
  padding: 50px 10px !important;
}

/* 
>> Playback bar width
- Reduced, otherwise clashes with sorrounding items
*/
.playback-bar {
  width: 85% !important;
}

/* 
>> Hide Scroll Bar 
- I hate scroll bars (but they are needed), so -
- Let's just reduce the opacity
*/
.os-theme-spotify.os-scrollbar {
  color: white;
  opacity: 25%;
}

/* 
>> Gradient View
- No more ugly gradients in any view
- Color is consistent with the theme 
*/
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background,
.main-topBar-background,
.main-home-homeHeader,
.mjZrvVI3CxfHJXu7y0Lg {
  background-color: var(--github-main) !important;
}